<div id="auth-options" class="span-10">
	<h3>Sign in</h3>
	<h4>In order to chat with <strong class="logo">jegit</strong> you must first sign in.</h4>
	
	<%= link_to image_tag("facebook.png", :alt => "Use your facebook account to sign in"), url("auth/facebook")%>
	
	<h3>Don't have a facebook account?</h3>
	<h4>Sign up below:</h4>
	<% form_tag url(url(:auth, :sign_in)) do %>
		<%= hidden_field_tag(:location)%>
		
		<div class="fields">
			<%= label_tag(:nickname)%>
			<%= text_field_tag(:nickname, :required => true, :placeholder => "captain my captain")%>
		</div>
		
		<div class="actions">
			<%= submit_tag "Start Chatting" %>
		</div>
	<% end %>
</div>

<div class="span-5 prepend-1 last">
	<h2>Logging in Will</h2>
	<ul>
		<li>Allow you to chat</li>
		<li>Provide a username</li>
		<li>Keep you logged in until you close your browser</li>
	</ul>
</div>