<h1>Room # <a href="<%= "#{request.scheme}://#{request.host}:#{request.port}/room/#{@connection}" %>"><%= @connection%></a></h1>


<% unless session[:user] %>
	<a href="/auth/facebook">Sign in with Facebook</a>
<% end %>

<ul id="manuscript"></ul>

<h3 id="chatting-as">Chatting as <span><%= @user %></span></h3>
<input type="text" name="say-something" id="say-something" placeholder="Say something..." autofocus="true" />


<div pub-key="pub-32d1b09f-63b7-4015-8e59-bd603a2ec66e" sub-key="sub-7e2e745c-c38c-11e0-a0a5-53ec83638759" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
<script>
	var channel = "chatterbee-chatter-room-<%= @connection %>";
	var user = "<%= @user %>";
</script>