<h2>Room: <a href="<%= "#{request.scheme}://#{request.host}:#{request.port}/room/#{@room.name}" %>"><%= @room.name %></a></h2>
<h3 id="chatting-as">Chatting as <span><%= @user.name %></span> <% unless @user.approximate_location.nil? %>in <%= @user.approximate_location %><% end %></h3>

<ul id="manuscript"></ul>

<input type="text" name="say-something" id="say-something" placeholder="say something and hit enter to send" autofocus="true" />


<div pub-key="<%= @pubkey %>" sub-key="<%= @subkey %>" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
<script>
	var channel = "<%= @room.name %>";
	var user = "<%= @user.name %>";
</script>

<a href="/print/<%= @room.name %>" class="print-convo" target="_blank">Great conversation?  Print it.</a>