<h2>Room: <%= link_to @room.name, url(:room, :show, :id => @room.to_param)%></h2>
<h3 id="chatting-as">Chatting as <span><%= current_user.name %></span> <% unless current_user.approximate_location.nil? %>in <%= current_user.approximate_location %><% end %></h3>

<ul id="manuscript"></ul>

<input type="text" name="say-something" id="say-something" placeholder="say something and hit enter to send" autofocus="true" />

<div channel-name=notifications-channel segregate-notifications-by-page=false id=desktop-notifications-config
></div>
<div pub-key="<%= @pubkey %>" sub-key="<%= @subkey %>" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
<script src="http://www.pubnub.com/static/html5-desktop-notification-broadcasting.js"></script>
<script>
	var channel = "<%= @room.to_param %>";
	var user = "<%= current_user.name %>";
</script>

<div id="below-chat-links">
	<%= link_to "Leave the room", url(:room, :leave, :id => @room.to_param), :confirm => "Are you sure?"%> |
	<%= link_to "Great conversation?  Print it.", url(:static, :print, :id => @room.to_param), :target => "_blank"%> |
	<%= link_to "Conversation Permalink (share it)", url(:static, :room, :id => @room.to_param), :target => "_blank" %>
</div>