<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>jegit : Chat Freely</title>
	<meta name="description" content="create anonymous one-on-one and group chats.">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta property="og:title" content="jegit: Chat Freely"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= request.url %>"/>
    <meta property="og:image" content="http://jegit.com/logo.png"/>
    <meta property="og:site_name" content="jegit"/>
    <meta property="fb:admins" content="1439910669"/>
    <meta property="og:description" content="Who said you shouldn't talk to strangers?  Jegit allows you to talk to strangers like never before.  Check it out.  It's free!  Powered by pubnub." />
	
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "flex", :media => "(max-width: 1100px)" %>
	
	<link href="http://fonts.googleapis.com/css?family=Permanent+Marker:regular|Jura:300,400,500,60&v1" rel="stylesheet" type="text/css">
	<%= javascript_include_tag "libs/modernizr-2.0.6.min" %>
</head>
<body>

<div class="container">
	<header class="span-24 last">
		<h1 class="logo span-12"><%= link_to "jegit. <span>chat freely.</span>", url("/")%></h1>
	</header>
	<div id="main" role="main" class="span-24 last">
		<div class="span-18 append-1">
			<div id="body" class="span-16 prepend-1 append-1">
				<%= yield %>
			</div>
			<div id="footer-promos" class="span-18 last">
				<% if is_mobile_device? %>
					<%= erb "ads/sidebar".to_sym %>
				<% else %>
					<%= erb "ads/footer".to_sym %>
				<% end %>
			</div>
		</div>
		<div class="span-4 last" id="sidebar">
			<div id="social">
				<div class="row">
					<div class="company"><fb:like href="<%= request.url %>" send="false" action="like" show_faces="false" font="" layout="box_count"></fb:like></div>

					<div class="company"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
				</div>
				
				<div class="row">
					<div class="company"><script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
					<g:plusone size="tall"></g:plusone></div>

					<div class="company"><script src="http://www.stumbleupon.com/hostedbadge.php?s=5&r=<%= request.url %>"></script></div>
				</div>
			</div>
			<div id="sidebar-promos">
				<%= erb "ads/sidebar".to_sym %>
			</div>
			<a href="http://pubnub.com?ref=jegit.com" id="pubnub-referral"><%= image_tag("pubnub.png", :alt => "Powered by Pubnub")%></a>
		</div>
	</div>
	<footer id="footer" class="span-24 last">
		<%= link_to "Privacy Policy", url(:static, :privacy)%>
		<% if current_user? %>
			| <%= link_to "signout", url(:auth, :signout)%>
		<% end %>
	</footer>
</div> <!--! end of #container -->

<!-- <%= request.url %> -->

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=261061570588802&amp;xfbml=1"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

<%= javascript_include_tag "plugins", "application" %>

<script>
	var _gaq=[['_setAccount','UA-19606493-6'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
